<div class="babyAnimal panel panel-default">
  <div class="panel-heading">
    <h3>{{baby.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <h4>Category: {{baby.category}}</h4>
        <h4>Description: {{baby.description}}</h4>
        <h4>Price: ${{baby.price}}</h4>
      </div>
      <div class="col-sm-6">
        <img src="{{baby.image}}" alt="{{baby.name}}" />
      </div>
    </div>
  </div>
</div>
