<div class="babyAnimal panel panel-default">
  <div class="panel-heading">
    <h3>{{baby.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <h4><strong>Category:</strong> {{baby.category}}</h4>
        <h4><strong>Description:</strong> {{baby.description}}</h4>
        <h4><strong>Price:</strong> ${{baby.price}}</h4>
        <button class="btn btn-primary" >Update</button>
        <button class="btn btn-danger" >Delete</button>
      </div>
      <div class="col-sm-6">
        <img src="{{baby.image}}" alt="{{baby.name}}" />
      </div>
    </div>
  </div>
</div>
